In [1]:
# this is jupyter notebook

In [2]:
import os
%cd C:\Users\Dell\Desktop\hsbc-python

C:\Users\Dell\Desktop\hsbc-python

In [1]:
x=1 #int 
y=1.1 # float
z=1j #complex
print(x)
print(y)
print(z)

1
1.1
1j

In [2]:
type(z)

complex

In [3]:
#type returns type of variable
#every function will have paranthesis 
#coversions

In [6]:
#lists
#list is collection of ordered and mutable appendable array 
#allows duplicates, starts with [] & items seperated bycomma
#append list - append()
#insert at location - insert(index,value)
#remove and pop only for lists and sets
numlist = [12,23,34343,4546,65,76,7,12]
charlist = ['a','b','c','d']
boollist = [True,False,True]
print(numlist)
print(charlist)
print(boollist)

[12, 23, 34343, 4546, 65, 76, 7, 12]
['a', 'b', 'c', 'd']
[True, False, True]

In [7]:
#indexing - selection or subsetting 
#last element of list is accessed by -1
#slicing [index1:index2]
print(numlist[1:3])

[23, 34343]

In [8]:
#tuples 

#cant add into tuple
#to append convert tuple into list and do operations'
#and convert again to tuple

tup1 = (1,3,4,5)

print(tup1)

(1, 3, 4, 5)

In [9]:
print(tup1[1]) #indexing same as lists

3

In [10]:
#sets
#set is collection of unordered and unindexed withoi
#duplicates Starts with {}

fruits = {"apple","banana","orange"}
print(fruits)

{'orange', 'banana', 'apple'}

In [11]:
fruits[1]

TypeError: 'set' object is not subscriptable

In [14]:
# update or add sets but cant access

fruits.add("apple")
print(fruits)
fruits.add("dragon")
print(fruits)

{'orange', 'banana', 'apple'}
{'orange', 'dragon', 'banana', 'apple'}

In [18]:
#mapping type - Dictionary - dict{} 
#unordered, appendable & indexed
dict1 = {"model":'mustang',"year":1999}
print(dict1)

{'model': 'mustang', 'year': 1999}

In [19]:
dict1.get("model")

'mustang'

In [20]:
#clear - empties set and empties list
#looping is allowed for lists 
# tuples & dicts not allowed

In [23]:
'''

     if condition:
       statements
     elif condition1:
        statmts
     else:
        statmts
'''

'\n\n     if condition:\n       statements\n     elif condition1:\n        statmts\n     else:\n        statmts\n'

In [27]:
#num is + or -
num = float(input("enter number: "))
if(num>0):
    print("positive")
elif(num==0):
    print("zero")
else:
    print("negative")

enter number: 0
zero

In [34]:
num = int(input("enter number to find its factorail: "))
factorial =1
if(num>0):
    for i in range(1,num+1):
        factorial = factorial*i
else:
    print("no factorial ")
    
print("factorial is: ",factorial)

enter number to find its factorail19
factorial is:  121645100408832000

In [40]:
#python functions - define using "def"
#only runs when called
def factorial(num):
    factorial=1
    if(num>0):
        for i in range(1,num+1):
            factorial = factorial*i
    return factorial

def fact_re(num):
    if(num==1):
        return num
    else:
        return num*fact_re(num-1)
    
print(fact_re(3))

6

In [61]:
def isprime(num):
    c=0
    
    for i in range(1,num,1):
        if(num%i==0):
            c=c+1

    if(c==1):
        return True
    else:
        return False

print(isprime(9))

False

In [66]:
#lambda functions (anonymous)
#syntax:- lambda args : expressions

cube= lambda n:n*n*n
    
print(cube(10))

1000

In [67]:
#lambda functions with for loop
square = lambda x:x*x
squarelist = [square(i) for i in [1,2,3,4]]
print(squarelist)

[1, 4, 9, 16]

In [95]:
#map and filters
numbers = range(1,20)
print(list(numbers))

odd=filter(lambda n : n%2!=0,numbers)
print(list(odd))

x=map(lambda x: x*x,filter(lambda n : n%2!=0,numbers))
print(list(x))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [105]:
#lambda factorail great

fact = lambda x:1 if x==0 else x*fact(x-1)
print(fact(3))

6

In [108]:
#string methods
string = "this is sample string."
string.split()
string.upper() #lower
string.format()

'this is sample string.'

In [109]:
#python oops
#everything is an object with properties and methods
#class is object constructor - "class"
# __init__() is constrtor

In [119]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def newage(self,n):
        self.age = n
        
        
class student(Person):
    def __init__(self,name,age,year):
        super.__init__(name,age)
        self.year=year
        
p1=Person("jay",22)
print(p1.name,p1.age)
p1.newage(10)
print(p1.name,p1.age)
s1=student("jay",22,2020)
print(s1.year)

jay 22
jay 10

AttributeError: type object 'super' has no attribute '___init__'